.allIssuesMother {
  height: 100%;
  .bioSection {
    display: flex;
    flex-direction: row;
    border-bottom: black solid 3px;
    width: calc(100% - 30px);
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 20px;

    .profilePic {
      height: auto;
      width: 100px;
      border-radius: 5px;
    }

    .bioInfo {
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      .profileName {
        font-size: 3rem;
      }
      .profileRoleComp {
      }
    }

    @media (max-width: 600px) {
      .profilePic {
        height: 100px;
      }
      .bioInfo {
        .profileName {
          font-size: 2rem;
        }
        .profileRoleComp {
          font-size: 1.5rem;
          font-weight: 500;
        }
      }
    }
  }
  .issuesSection {
    margin-left: 20px;
    margin-top: 20px;
    max-width: 600px;
    .issuePost {
      display: flex;
      flex-direction: column;
      padding: 4px 10px;
      background: lightgrey;
      margin-bottom: 10px;
      border-radius: 5px;

      .issueTitle {
        font-size: 1.3rem;
        margin-bottom: 5px;
        color: #333;
      }
      .issueParaDiv{
        align-self: flex-start;
        display: flex;
        justify-content: flex-start;
        background: lightblue;      
        .issuePara {
        padding: 5px;
      }
      }

      .issueViewBtn {
        background: skyblue;
        border-radius: 5px;
        font-size: 1rem;
      }
    }
  }
}
