.home1Mother{
    .home1Main{
        height: calc(100vh - 100px);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        .issuePromptBtn{
            border: none;
            border-radius: 5px;
            background: lightgrey;
            
            &:hover{
                cursor: pointer;
            }
        }
    }
}