.home1Mother {
  height: 100%;

  .home1Main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    min-height: 100%;
    // padding-bottom: 100px;

    .noUserCont {
      // Figure out why this doesnt wanna work right
      height: calc(100vh - 100px);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .userCont {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      .userContChild {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: center;
        flex-direction: column;

        .noticeDiv{
          background: yellow;
          padding: 10px;
          .noticeH1{
            font-size: 1.5rem;
            text-align: center;
            &:before{
              content: 'Notice';
              background: black;
              color: white;
              border-radius: 3px;
              padding: 2px 5px;
            }
          }
          @media(max-width: 830px) {
            .noticeH1{
              font-size: 1.2rem;
            }
          }
          @media(max-width: 550px) {
            .noticeH1{
              font-size: 1.0rem;
            }
          }
        }
        .headDiv {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;

          .homeHead {
            width: 100%;
            text-align: left;
            margin: 20px 0 20px 20px;
          }

          .promptBtnDiv {
            padding: 20px;
            .issuePromptBtn {
              width: 140px;
              border: none;
              border-radius: 5px;
              background: red;
              color: #333;
              font-weight: 700;
              font-size: 1rem;
              padding: 10px;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
        .issuesParent {
          display: flex;
          flex-direction: row;
          width: 100%;

          .openIssuesDiv {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            width: 50%;
            padding: 20px;
            .openHeadDiv {
              .openHead {
              }
            }

            .openIssuesList {
              width: calc(100% - 40px);
              display: flex;
              align-items: flex-start;
              flex-direction: column;
              justify-content: flex-start;
              a{ width: 100%;}
              .issuePost {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 15px;
                padding: 10px;
                background: lightgrey;
                border-radius: 3px;
                border-left: red solid 5px;

                .openDiv {
                  background: green;
                }
                .issueTitle {
                  margin-bottom: 10px;
                  text-align: start;
                }

                .openDateTime {
                  display: flex;
                  flex-direction: row;
                  align-self: flex-start;
                  background: lightblue;
                  padding: 5px;
                  border-radius: 3px;

                  .issueNickname {
                      font-weight: 700;
                    &:before {
                      font-weight: 400;
                      content: "Asked By \00a0";
                    }
                  }

                  .issueDate {
                    display: none;
                    &:after {
                      color: blue;
                      // content: "\00a0  ||| \00a0";
                    }
                  }
                  .issueTime {
                    display: none;
                  }
                }
              }
            }
          }
          .solvedIssuesDiv {
            width: 50%;
            padding: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            .solvedHeadDiv {
              .solvedHead {
              }
            }

            .solvedIssuesList {
            width: calc(100% - 40px);
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: flex-start;
            a{ width: 100%;}
              .issuePost {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 15px;
                padding: 10px;
                background: lightgrey;
                border-radius: 3px;
                width: calc(100% - 20px);
                align-self: flex-start;
                border-left: green solid 5px;

                .issueTitle {
                  margin-bottom: 10px;
                  text-align: start;
                }

                .solvedDateTime {
                  display: flex;
                  flex-direction: row;
                  align-self: flex-start;
                  align-items: center;
                  background: lightblue;
                  padding: 5px;
                  border-radius: 3px;

                  .solvedDiv {
                    background: green;
                    padding: 5px 10px;
                    color: #ffffff;
                  }

                  .issueNickname {
                    font-weight: 700;
                    &:before {
                      font-weight: 400;
                      content: "Asked By \00a0";
                    }
                  }

                  .issueDate {
                    display: none;
                  }
                  .issueTime {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media(min-width: 1400px) {
    .home1Main {
        .userCont {
          .userContChild {
            .headDiv {
              .homeHead {
              }
              .promptBtnDiv {
                .issuePromptBtn {
                }
              }
            }
            .issuesParent {
              .openIssuesDiv {
                .openIssuesList{
                    .issuePost{
                        .issueTitle{
                            font-size: 1.4rem;
                        }
                        .openDateTime{
                        }
                    }
                }
              }
              .solvedIssuesDiv {
                .solvedIssuesList {
                  .issuePost {
                      .issueTitle{
                          font-size: 1.4rem;
                      }
                    .solvedDateTime {
                      .issueNickname {
                        &:after {
                          content: "\00a0  ||| \00a0";
                        }
                      }
  
                      .issueDate {
                        &:after {
                          content: "\00a0  ||| \00a0";
                        }
                      }
                      .issueTime {
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
  }

  @media (max-width: 670px) {
    .home1Main {
      .userCont {
        .userContChild {
          .headDiv {
            width: calc(100% - 20px);
            display: flex;
            flex-direction: column;
            .homeHead {
            }
            .promptBtnDiv {
              padding: 0;
              margin-left: 20px;
              .issuePromptBtn {
              }
            }
          }
          .issuesParent {
            flex-direction: column;
            .openIssuesDiv {
              width: calc(100% - 40px);
              .openIssuesList{
                  .issuePost{
                      .openDateTime{
                          width: 95%;
                          align-self: center;
                          justify-content: center;
                          padding: 5px 0;
                      }
                  }
              }
            }
            .solvedIssuesDiv {
              width: calc(100% - 40px);
              .solvedIssuesList {
                .issuePost {
                    display: flex;
                  .solvedDateTime {
                    justify-content: center;
                    align-self: center;
                    width: 95%;

                    .issueNickname {
                      &:after {
                        color: blue;
                        // content: "\00a0  ||| \00a0";
                      }
                    }

                    .issueDate {
                      &:after {
                        color: blue;
                        content: "\00a0  ||| \00a0";
                      }
                    }
                    .issueTime {
                        display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media(max-width: 450px) {
    .home1Main {
      .userCont {
        .userContChild {
          .headDiv {
            .homeHead {
            }
            .promptBtnDiv {
              .issuePromptBtn {}
            }
          }
          .issuesParent {
            .openIssuesDiv {
              width: 100%;
              padding: 0;
              .openHeadDiv{
                .openHead{
                  margin-top: 30px;
                }
              }
              .openIssuesList{
                  .issuePost{
                    .issueTitle{
                      font-size: 1.1rem;
                    }
                      .openDateTime{}
                  }
              }
            }
            .solvedIssuesDiv {
              width: 100%;
              padding: 0;
              .solvedHeadDiv{
                .solvedHead{
                  margin-top: 30px;
                }
              }
              .solvedIssuesList {
                .issuePost {
                  .issueTitle{
                    font-size: 1.1rem;
                  }
                  .solvedDateTime {
                    .issueNickname {}
                    .issueDate {}
                    .issueTime {}
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
