.footerMother{
    width: 100%;
    height: 100px;
    background: #333;
    margin-top: 100px;

    .footerMain{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .footerText{
            color: white;
            margin: 0;
        }
    }
}