.singleMother{
    height: calc(100vh - 100px);
    .singleMain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;


        .singleTitle{ 
            text-align: start;
            margin-bottom: 10px;
        }

        .singleText{
            text-align: start;
            margin-bottom: 10px;
        }

        .descDiv{
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: flex-end;
            .dateTime{
                display: flex;
                flex-direction: row;
                .singleDate{
                    &:before{
                        content: "\00a0 on \00a0";
                    }
                }
                .singleTime{
                    &:before{
                        content: "At\00a0";
                    }

                }        
            }

            .singleNickname{
                font-weight: 700;
                &:before{
                    content: 'Asked by ';
                    font-weight: 400;
                }
            }
            .singleUpvotes{
                // text-align: center;
            }
            .singleDownvotes{
                // text-align: center;
            }
        }

    }
}