@mixin inputs {
  border: none;
  border: 1px solid #333;
  border-radius: 5px;
}

input,
textarea {
  @include inputs();
}

.issuePost1Mother {
  height: 100%;

  .issuePost1Main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    .issueHead {
      margin-bottom: 30px;
    }
    .issueForm {
      display: flex;
      flex-direction: column;
      width: 600px;
      .issueTitleInput {
        margin-bottom: 15px;
        height: 10px;
        font-size: 1rem;
        padding: 10px;
      }
      .issueTextInput {
        margin-bottom: 15px;
        height: 230px;
        font-size: 0.9rem;
        padding: 10px;
      }
      .issueSubmit {
        width: 50%;
        align-self: center;
        padding: 5px;
        font-size: 1.2rem;
        background: skyblue;
        cursor: pointer;
        appearance: none;
        border: none;
      }
    }
  }

  @media (max-width: 600px) {
    .issuePost1Main {
      height: calc(100vh - 140px);
      .issueHead {
      }
      .issueForm {
        width: 90%;
      }
    }
  }

  .forbidden{
    position: absolute;
    width: 200px;
    height: 70px;
    top: 200px;
    left: calc(50% - 100px);
    right: calc(50% - 100px);
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    .forbHead{
      margin-bottom: 5px;
    }
    .forbLink{
      background: grey;
      padding: 4px 6px;
      border-radius: 3px;
      color: white;
    }
  }
}
