h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.profile1Mother {
  .profile1Main {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    // align-content: center;

    .bioSection {
      display: flex;
      flex-direction: row;
      border-bottom: black solid 3px;
      width: calc(100% - 30px);
      padding-top: 30px;
      padding-left: 30px;
      padding-bottom: 20px;

      .profilePic {
        height: auto;
        width: 100px;
        border-radius: 5px;
      }

      .bioInfo {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        .profileName {
          font-size: 3rem;
        }
        .profileRoleComp {
        }
      }

      form {
        .profileInput {
          border: none;
          border: #333 solid 1px;
          padding: 5px 10px;
          border-radius: 5px;
          margin: 10px;
          font-size: 1rem;
        }

        .profileSubmit {
          border: none;
          border: #333 solid 1px;
          padding: 5px 10px;
          border-radius: 5px;
          margin: 10px;
          font-size: 1rem;
        }
      }
    }

    .issuesWrapper {
      // max-width: 500px;
      align-self: flex-start;
      max-width: 1000px;

      .issuesDiv {
        display: flex;
        flex-direction: column;
        .issuePost {
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid #333;
          padding: 10px 20px;

          .issueTitle {
            font-size: 1.3rem;
            margin-bottom: 5px;
            color: blue;
          }
          .issuePara {
          }
        }

        .issueViewBtn {
          background: skyblue;
          border-radius: 5px;
          font-size: 1.1rem;
          margin-left: 10px;
          margin-top: 10px;
          font-weight: 500;
          border: none;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .profile1Main {
      .bioSection {
        .profilePic {
          height: 100px;
        }
        .bioInfo {
          .profileName {
            font-size: 2rem;
          }
          .profileRoleComp {
            font-size: 1.5rem;
            font-weight: 500;
          }
        }
      }

      .issuesWrapper {
        .issuesDiv {
          .issuePost {
            .issueTitle {
              font-size: 1.2rem;
            }
          }
        }

        .issueViewBtn {
          padding: 5px 10px;
          width: 100px;
        }
      }
    }
  }
}
